:root{
    
    --colorCard:#0e387a;
    --colorCardDark:#301B3F; 
    --font-COLOR: #9fafca;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardContainer{
    background-color: var(--colorCard);
    padding: 1em;
    width: 100%;
    
     border-radius: 15px;
    
    margin:  3% 0 ;
  
}
.cardContainerDark{
    
    background-color: var(--colorCardDark);
   padding: 1em;
    width: 100%;
    
    
    
    border-radius: 10px;
    margin:  3% 0 ;
    cursor: pointer;
}

.titleContainer{
  
      color:var(--font-COLOR);
    font-size: clamp(26px, 2vw, 13px);
    font-weight: 500;
    margin: 0.2em 0;
   font-family: 'Merienda', cursive;;
     cursor: pointer;
}
.descriptionContainer{
  color:var(--font-COLOR);
    font-size: clamp(15px, 2vw, 10px);
    font-family: 'Jost', sans-serif;
}
.statusAndPriotity{
  color:var(--font-COLOR);
    min-width: 50%;
    font-size: clamp(9px, 2vw, 15px);
}

.editingOptions {
    
   color:var(--font-COLOR);
    margin-top: 1em;
    cursor: pointer;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
 
    
}.deleteEdit{
    width: 10%;
}

.deleteEdit span{
    display: flex;
    width: 100%;
    justify-content: space-between;

    
}
.editingOptions span{
    
    cursor: pointer;
}

.editingOptions button{
    background-color: transparent;
    border: none;
}
.otherInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    

}
.deleteIcon{
    color: red;
}
.editIcon{
    color: rgb(107, 133, 15);
}
.Low{
    font-family: 'Londrina Outline', cursive;
    margin: 1em 0;
 padding: 0 1em;
   color: rgb(7, 86, 7);
    background-color: rgb(20, 191, 20);
     border: none;    box-shadow: 0 0 19px rgb(13, 219, 13);
    
}
.Medium{
    margin: 1em 0;
    font-family: 'Londrina Outline', cursive;
    border: none;
   padding: 0 1em;
   color: blue;
    background-color: rgb(116, 106, 226);
     box-shadow: 0 0 15px rgb(20, 1, 235);
}
.High{
    font-family: 'Londrina Outline', cursive;
    margin: 1em 0;
  padding:0  1em;
    color: rgb(111, 5, 5);
    background-color: rgb(201, 143, 143);
    box-shadow: 0 0 15px rgb(219, 124, 124);
    border: none;
}
.taskNumber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.daysRemaining{
   color:var(--font-COLOR);
}
.lastDateCont{
    color:var(--font-COLOR);
}

@media screen and (max-width: 768px) {

    .cardContainer{
    background-color: var(--colorCard);
    
    width: 100%;
    box-shadow: 0 0 12px  rgba(131, 105, 218, 0.733);
    margin:  3% 0 ;
    border-radius: 15px;
  
}
.deleteEdit{
    width: 20%;
}


    
  
}

.cardContainer:hover{
    transform: scale(1.02,1.02);
    box-shadow: 0 0 12px  rgba(171, 155, 226, 0.733);
}
.cardContainerDark:hover{
      transform: scale(1.02,1.02);box-shadow: 0 0 12px  rgba(131, 105, 218, 0.733);}