:root{
    
    --colorCard:#3FA796;
    --colorCardDark:#301B3F; 
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardContainer{
    background-color: var(--colorCard);
    padding: 1em;
    width: 100%;
    
     border-radius: 15px;
    box-shadow: 0 0 12px  rgba(131, 105, 218, 0.733);
    margin:  3% 0 ;
  
}
.cardContainerDark{
    
    background-color: var(--colorCardDark);
   padding: 1em;
    width: 100%;
    
    
    box-shadow: 0 0 12px  rgba(131, 105, 218, 0.733);
    border-radius: 15px;
    margin:  3% 0 ;
}

.titleContainer{
  
      color:  rgb(255, 255, 255);;
    font-size: clamp(26px, 2vw, 13px);
    font-weight: 500;
    margin: 0.2em 0;
   font-family: 'Merienda', cursive;;
}
.descriptionContainer{
  
    font-size: clamp(15px, 2vw, 10px);
    font-family: 'Jost', sans-serif;
}
.statusAndPriotity{
  
    min-width: 50%;
    font-size: clamp(9px, 2vw, 15px);
}

.editingOptions {
    
   
    margin-top: 1em;
    cursor: pointer;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
 
    
}.deleteEdit{
    width: 10%;
}

.deleteEdit span{
    display: flex;
    width: 100%;
    justify-content: space-between;

    
}
.editingOptions span{
    
    cursor: pointer;
}

.editingOptions button{
    background-color: transparent;
    border: none;
}
.otherInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    

}
.deleteIcon{
    color: red;
}
.editIcon{
    color: rgb(107, 133, 15);
}
.Low{
    font-family: 'Londrina Outline', cursive;
    margin: 1em 0;
 padding: 0 1em;
   color: rgb(7, 86, 7);
    background-color: rgb(20, 191, 20);
     border: none;    box-shadow: 0 0 19px rgb(13, 219, 13);
    
}
.Medium{
    margin: 1em 0;
    font-family: 'Londrina Outline', cursive;
    border: none;
   padding: 0 1em;
   color: blue;
    background-color: rgb(116, 106, 226);
     box-shadow: 0 0 15px rgb(20, 1, 235);
}
.High{
    font-family: 'Londrina Outline', cursive;
    margin: 1em 0;
  padding:0  1em;
    color: rgb(111, 5, 5);
    background-color: rgb(201, 143, 143);
    box-shadow: 0 0 15px rgb(219, 124, 124);
    border: none;
}
.taskNumber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.daysRemaining{
    color: white
}
.lastDateCont{
    color:  white;;
}

@media screen and (max-width: 768px) {

    .cardContainer{
    background-color: var(--colorCard);
    
    width: 100%;
    box-shadow: 0 0 12px  rgba(131, 105, 218, 0.733);
    margin:  3% 0 ;
    border-radius: 15px;
  
}

    
  
}

